## Data preprocessing

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# global data
years = [2022, 2023]
g_encoding = "utf-8" #"ISO-8859-1"

In [3]:
def find_columns_names(file_path, max_num_if_empty_lines=1, end_character='  '):
    column_names = []
    with open(file_path) as fp:
        lines = fp.readlines()
        empty_lines_counter = 0
        for line in lines:
            # print(line)
            if line in ['\n', '\r\n']:
                empty_lines_counter += 1
                if empty_lines_counter > max_num_if_empty_lines:
                    break
                else:
                    continue
            title_end = line.index(end_character)
            column_names.append(line[:title_end])
    return column_names

#### Dane meteorologiczne - wykaz stacji

In [4]:
weather_station_columns = ["kod stacji", "nazwa stacji", "kod pięcioznakowy stacji"]
weather_station_list = pd.read_csv("dane\meteorologiczne\wykaz_stacji.csv", header=None, encoding=g_encoding, names=weather_station_columns)

weather_station_list.head()

   kod stacji   nazwa stacji  kod pięcioznakowy stacji
0   250180460      ADAMOWICE                     95414
1   254230010  ALEKSANDRÓWKA                     91908
2   250190430       ALWERNIA                     95506
3   250210030        ANNOPOL                     95751
4   249199978      ANTAŁÓWKA                      6522

#### Dane meteorologiczne - klimat

FORMAT: k_m_d_rok:
* Kod stacji                                         9
* Nazwa stacji                                      30
* Rok                                                4
* Miesiąc                                            2
* Absolutna temperatura maksymalna [°C]              5/1
* Status pomiaru TMAX                                1
* Średnia temperatura maksymalna [°C]                6/1
* Status pomiaru TMXS                                1
* Absolutna temperatura minimalna [°C]               5/1
* Status pomiaru TMIN                                1
* Średnia temperatura minimalna  [°C]                6/1
* Status pomiaru TMNS                                1
* Średnia temperatura miesięczna  [°C]               6/1
* Status pomiaru STM                                 1
* Minimalna temperatura przy gruncie [°C]            5/1
* Status pomiaru TMNG                                1
* Miesieczna suma opadów  [mm]                       7/1
* Status pomiaru SUMM                                1
* Maksymalna dobowa suma opadów [mm]                 6/1
* Status pomiaru OPMX                                1
* Pierwszy dzień wystapienia opadu maksymalnego      2
* Ostatni dzień wystąpienia opadu maksymalnego       2
* Maksymalna wysokość pokrywy śnieżnej [cm]          4
* Status pomiaru PKSN                                1
* Liczba dni z pokrywą śnieżną                       3
* Liczba dni z opadem deszczu                        3
* Liczba dni z opadem śniegu                         3


Status "8" brak pomiaru </br>
Status "9" brak zjawiska </br>
Wartość "0" w kolumnie "Maksymalna wysokość pokrywy śnieżnej", jeżeli nie jest doprecyzowana wartością kolumny status, oznacza, że pokrywa nie występowała w danym miesiącu lub nie można ustalić wartości maksymalnej </br>

In [5]:
climate_kmd_columns = find_columns_names('dane\meteorologiczne\klimat\k_m_d_format.txt')
print(climate_kmd_columns)

['Kod stacji', 'Nazwa stacji', 'Rok', 'Miesiąc', 'Absolutna temperatura maksymalna [°C]', 'Status pomiaru TMAX', 'Średnia temperatura maksymalna [°C]', 'Status pomiaru TMXS', 'Absolutna temperatura minimalna [°C]', 'Status pomiaru TMIN', 'Średnia temperatura minimalna', 'Status pomiaru TMNS', 'Średnia temperatura miesięczna', 'Status pomiaru STM', 'Minimalna temperatura przy gruncie [°C]', 'Status pomiaru TMNG', 'Miesieczna suma opadów', 'Status pomiaru SUMM', 'Maksymalna dobowa suma opadów [mm]', 'Status pomiaru OPMX', 'Pierwszy dzień wystapienia opadu maksymalnego', 'Ostatni dzień wystąpienia opadu maksymalnego', 'Maksymalna wysokość pokrywy śnieżnej [cm]', 'Status pomiaru PKSN', 'Liczba dni z pokrywą śnieżną', 'Liczba dni z opadem deszczu', 'Liczba dni z opadem śniegu']

In [6]:
climate_kmd = pd.DataFrame()
for year in years:
    relative_path = f"dane\meteorologiczne\klimat\k_m_d_{year}.csv"
    climate_kmd_year = pd.read_csv(relative_path, header=None, encoding=g_encoding)
    climate_kmd = pd.concat([climate_kmd, climate_kmd_year])
climate_kmd.columns = climate_kmd_columns
climate_kmd.head()

,Kod stacji,Nazwa stacji,Rok,Miesiąc,Absolutna temperatura maksymalna [°C],Status pomiaru TMAX,Średnia temperatura maksymalna [°C],Status pomiaru TMXS,Absolutna temperatura minimalna [°C],Status pomiaru TMIN,...,Status pomiaru SUMM,Maksymalna dobowa suma opadów [mm],Status pomiaru OPMX,Pierwszy dzień wystapienia opadu maksymalnego,Ostatni dzień wystąpienia opadu maksymalnego,Maksymalna wysokość pokrywy śnieżnej [cm],Status pomiaru PKSN,Liczba dni z pokrywą śnieżną,Liczba dni z opadem deszczu,Liczba dni z opadem śniegu
0,249180010,PSZCZYNA,2022,1,12.3,NaN,3.7,NaN,-12.2,NaN,...,NaN,8.8,NaN,3,NaN,10,NaN,9,7,13
1,249180010,PSZCZYNA,2022,2,12.9,NaN,7.5,NaN,-5.2,NaN,...,NaN,9.6,NaN,17,NaN,2,NaN,1,13,6
2,249180010,PSZCZYNA,2022,3,20.3,NaN,9.7,NaN,-7.2,NaN,...,NaN,12.6,NaN,31,NaN,0,NaN,0,8,0
3,249180010,PSZCZYNA,2022,4,21.8,NaN,11.4,NaN,-3.8,NaN,...,NaN,12.6,NaN,8,NaN,6,NaN,3,11,4
4,249180010,PSZCZYNA,2022,5,26.8,NaN,20.7,NaN,1.9,NaN,...,NaN,8.1,NaN,27,NaN,0,NaN,0,12,0

In [7]:
climate_kmd['Kod stacji'].unique().size

58

FORMAT: k_m_t_rok:
* Kod stacji                                       9
* Nazwa stacji                                    30
* Rok                                              4
* Miesiąc                                          2
* Średnia miesięczna temperatura [°C]              5/1
* Status pomiaru TEMP                              1
* Średnia miesięczna wilgotność względna [%]       8/1
* Status pomiaru WLGS                              1
* Średnia miesięczna prędkość wiatru [m/s]         6/1
* Status pomiaru FWS                               1
* Średnie miesięczne zachmurzenie ogólne [oktanty] 6/1
* Status pomiaru NOS                               1
   
Status "8" brak pomiaru

In [8]:
climate_kmt_columns = find_columns_names('dane\meteorologiczne\klimat\k_m_t_format.txt')
print(climate_kmt_columns)

['Kod stacji', 'Nazwa stacji', 'Rok', 'Miesiąc', 'Średnia miesięczna temperatura [°C]', 'Status pomiaru TEMP', 'Średnia miesięczna wilgotność względna [%]', 'Status pomiaru WLGS', 'Średnia miesięczna prędkość wiatru [m/s]', 'Status pomiaru FWS', 'Średnie miesięczne zachmurzenie ogólne [oktanty]', 'Status pomiaru NOS']

In [9]:
climate_kmt = pd.DataFrame()
for year in years:
    relative_path = f"dane\meteorologiczne\klimat\k_m_t_{year}.csv"
    climate_kmt_year = pd.read_csv(relative_path, header=None, encoding=g_encoding)
    climate_kmt = pd.concat([climate_kmt, climate_kmt_year])
climate_kmt.columns = climate_kmt_columns
climate_kmt.head()

,Kod stacji,Nazwa stacji,Rok,Miesiąc,Średnia miesięczna temperatura [°C],Status pomiaru TEMP,Średnia miesięczna wilgotność względna [%],Status pomiaru WLGS,Średnia miesięczna prędkość wiatru [m/s],Status pomiaru FWS,Średnie miesięczne zachmurzenie ogólne [oktanty],Status pomiaru NOS
0,249180010,PSZCZYNA,2022,1,0.3,NaN,0.0,8.0,0.0,8.0,6.2,NaN
1,249180010,PSZCZYNA,2022,2,3.3,NaN,0.0,8.0,0.0,8.0,5.3,NaN
2,249180010,PSZCZYNA,2022,3,3.1,NaN,0.0,8.0,0.0,8.0,0.0,8.0
3,249180010,PSZCZYNA,2022,4,6.4,NaN,0.0,8.0,0.0,8.0,5.7,NaN
4,249180010,PSZCZYNA,2022,5,14.5,NaN,0.0,8.0,0.0,8.0,4.4,NaN

#### Dane meteorologiczne - opady

FORMAT: o_m_rok:
* Kod stacji                                        9
* Nazwa stacji                                     30
* Rok                                               4
* Miesiąc                                           2
* Miesięczna suma opadów [mm]                       8/1
* Status pomiaru SUMM                               1
* Liczba dni z opadem śniegu                        5
* Status pomiaru LDS                                1
* Opad maksymalny [mm]                              8/1
* Status pomiaru MAXO                               1
* Dzień pierwszy wystąpienia opadu maksymalnego     2
* Dzień ostatni wystąpienia opadu maksymalnego      2
* Liczba dni z pokrywą śnieżną                      5
* Status pomiaru LDPS                               1

Status "8" brak pomiaru
Status "9" brak zjawiska

In [10]:
fall_om_columns = find_columns_names('dane\meteorologiczne\opad\o_m_format.txt')
print(fall_om_columns)

['Kod stacji', 'Nazwa stacji', 'Rok', 'Miesiąc', 'Miesięczna suma opadów [mm]', 'Status pomiaru SUMM', 'Liczba dni z opadem śniegu', 'Status pomiaru LDS', 'Opad maksymalny [mm]', 'Status pomiaru MAXO', 'Dzień pierwszy wystąpienia opadu maksymalnego', 'Dzień ostatni wystąpienia opadu maksymalnego', 'Liczba dni z pokrywą śnieżną', 'Status pomiaru LDPS']

In [11]:
fall_om = pd.DataFrame()
for year in years:
    relative_path = f"dane\meteorologiczne\opad\o_m_{year}.csv"
    fall_om_year = pd.read_csv(relative_path, header=None, encoding=g_encoding)
    fall_om = pd.concat([fall_om, fall_om_year])
fall_om.columns = fall_om_columns
fall_om.head()

,Kod stacji,Nazwa stacji,Rok,Miesiąc,Miesięczna suma opadów [mm],Status pomiaru SUMM,Liczba dni z opadem śniegu,Status pomiaru LDS,Opad maksymalny [mm],Status pomiaru MAXO,Dzień pierwszy wystąpienia opadu maksymalnego,Dzień ostatni wystąpienia opadu maksymalnego,Liczba dni z pokrywą śnieżną,Status pomiaru LDPS
0,249180020,WARSZOWICE,2022,1,47.7,NaN,10,NaN,8.2,NaN,3.0,NaN,0,NaN
1,249180020,WARSZOWICE,2022,2,42.0,NaN,8,NaN,7.0,NaN,17.0,NaN,0,NaN
2,249180020,WARSZOWICE,2022,3,29.4,NaN,2,NaN,12.0,NaN,31.0,NaN,0,NaN
3,249180020,WARSZOWICE,2022,4,43.8,NaN,2,NaN,11.4,NaN,8.0,NaN,0,NaN
4,249180020,WARSZOWICE,2022,5,47.2,NaN,0,NaN,12.8,NaN,25.0,NaN,0,NaN

#### Dane meteorologiczne - synoptyczne

FORMAT: s_m_d_rok:
* Kod stacji                                        9
* Nazwa stacji                                     30
* Rok                                               4
* Miesiąc                                           2
* Absolutna temperatura maksymalna [°C]             5/1
* Status pomiaru TMAX                               1
* Średnia temperatura maksymalna [°C]               6/1
* Status pomiaru TMXS                               1
* Absolutna temperatura minimalna [°C]              5/1
* Status pomiaru TMIN                               1
* Średnia temperatura minimalna [°C]                6/1
* Status pomiaru TMNS                               1
* Średnia temperatura miesięczna [°C]               6/1
* Status pomiaru STM                                1
* Minimalna temperatura przy gruncie [°C]           5/1
* Status pomiaru TMNG                               1
* Miesięczna suma opadów [mm]                       7/1
* Status pomiaru SUMM                               1
* Maksymalna dobowa suma opadów  [mm]               6/1
* Status pomiaru OPMX                               1
* Pierwszy dzień wystąpienia opadu maksymalnego     2
* Ostatni dzień wystąpienia opadu maksymalnego      2
* Miesięczna suma usłonecznienia  [godziny]         7/1
* Status pomiaru SUUS                               1
* Maksymalna wysokość pokrywy śnieżnej [cm]         4
* Status pomiaru PKSN                               1
* Liczba dni z pokrywą śnieżną                      3
* Status pomiaru PSDN                               1
* Liczba dni z opadem deszczu                       3
* Status pomiaru DESD                               1
* Liczba dni z opadem śniegu                        3
* Status pomiaru SNID                               1
* Liczba dni z opadem deszczu ze śniegiem           3
* Status pomiaru DSND                               1
* Liczba dni z gradem                               3
* Status pomiaru GRDD                               1
* Liczba dni z mgłą                                 3
* Status pomiaru MGLD                               1
* Liczba dni z zamgleniem                           3
* Status pomiaru ZAMD                               1
* Liczba dni z sadzią                               3
* Status pomiaru SADD                               1
* Liczba dni z gołoledzią                           3
* Status pomiaru GOLD                               1
* Liczba dni z zamiecią śnieżną niską               3
* Status pomiaru ZAND                               1
* Liczba dni z zamiecią śnieżną wysoką              3
* Status pomiaru ZAWD                               1
* Liczba dni ze zmętnieniem                         3
* Status pomiaru ZMED                               1
* Liczba dni z wiatrem >= 10m/s                     3
* Status pomiaru W10D                               1
* Liczba dni z wiatrem >15m/s                       3
* Status pomiaru W15D                               1
* Liczba dni z burzą                                3
* Status pomiaru BURD                               1
* Liczba dni z rosą                                 3
* Status pomiaru ROSD                               1
* Liczba dni ze szronem                             3
* Status pomiaru SZRD                               1


Status "8" brak pomiaru </br>
Status "9" brak zjawiska </br>
Dla agregacji typu "Liczba dni z" status "9" oznacza brak pomiaru zjawisk na stacji. </br>

In [12]:
synoptic_smd_columns = find_columns_names('dane\meteorologiczne\synop\s_m_d_format.txt')
print(synoptic_smd_columns)

['Kod stacji', 'Nazwa stacji', 'Rok', 'Miesiąc', 'Absolutna temperatura maksymalna [°C]', 'Status pomiaru TMAX', 'Średnia temperatura maksymalna [°C]', 'Status pomiaru TMXS', 'Absolutna temperatura minimalna [°C]', 'Status pomiaru TMIN', 'Średnia temperatura minimalna [°C]', 'Status pomiaru TMNS', 'Średnia temperatura miesięczna [°C]', 'Status pomiaru STM', 'Minimalna temperatura przy gruncie [°C]', 'Status pomiaru TMNG', 'Miesięczna suma opadów [mm]', 'Status pomiaru SUMM', 'Maksymalna dobowa suma opadów', 'Status pomiaru OPMX', 'Pierwszy dzień wystąpienia opadu maksymalnego', 'Ostatni dzień wystąpienia opadu maksymalnego', 'Miesięczna suma usłonecznienia', 'Status pomiaru SUUS', 'Maksymalna wysokość pokrywy śnieżnej [cm]', 'Status pomiaru PKSN', 'Liczba dni z pokrywą śnieżną', 'Status pomiaru PSDN', 'Liczba dni z opadem deszczu', 'Status pomiaru DESD', 'Liczba dni z opadem śniegu', 'Status pomiaru SNID', 'Liczba dni z opadem deszczu ze śniegiem', 'Status pomiaru DSND', 'Liczba dni z gradem', 'Status pomiaru GRDD', 'Liczba dni z mgłą', 'Status pomiaru MGLD', 'Liczba dni z zamgleniem', 'Status pomiaru ZAMD', 'Liczba dni z sadzią', 'Status pomiaru SADD', 'Liczba dni z gołoledzią', 'Status pomiaru GOLD', 'Liczba dni z zamiecią śnieżną niską', 'Status pomiaru ZAND', 'Liczba dni z zamiecią śnieżną wysoką', 'Status pomiaru ZAWD', 'Liczba dni ze zmętnieniem', 'Status pomiaru ZMED', 'Liczba dni z wiatrem >= 10m/s', 'Status pomiaru W10D', 'Liczba dni z wiatrem >15m/s', 'Status pomiaru W15D', 'Liczba dni z burzą', 'Status pomiaru BURD', 'Liczba dni z rosą', 'Status pomiaru ROSD', 'Liczba dni ze szronem', 'Status pomiaru SZRD']

In [13]:
synoptic_smd = pd.DataFrame()
for year in years:
    relative_path = f"dane\meteorologiczne\synop\s_m_d_{year}.csv"
    synoptic_smd_year = pd.read_csv(relative_path, header=None, encoding=g_encoding)
    synoptic_smd = pd.concat([synoptic_smd, synoptic_smd_year])
synoptic_smd.columns = synoptic_smd_columns
synoptic_smd.head()

,Kod stacji,Nazwa stacji,Rok,Miesiąc,Absolutna temperatura maksymalna [°C],Status pomiaru TMAX,Średnia temperatura maksymalna [°C],Status pomiaru TMXS,Absolutna temperatura minimalna [°C],Status pomiaru TMIN,...,Liczba dni z wiatrem >= 10m/s,Status pomiaru W10D,Liczba dni z wiatrem >15m/s,Status pomiaru W15D,Liczba dni z burzą,Status pomiaru BURD,Liczba dni z rosą,Status pomiaru ROSD,Liczba dni ze szronem,Status pomiaru SZRD
0,349190600,BIELSKO-BIAŁA,2022,1,12.4,NaN,3.2,NaN,-12.5,NaN,...,0,9.0,0,9.0,0,9.0,0,9.0,0,9.0
1,349190600,BIELSKO-BIAŁA,2022,2,11.3,NaN,6.6,NaN,-5.1,NaN,...,0,9.0,0,9.0,0,9.0,0,9.0,0,9.0
2,349190600,BIELSKO-BIAŁA,2022,3,19.5,NaN,8.8,NaN,-7.4,NaN,...,0,9.0,0,9.0,0,9.0,0,9.0,0,9.0
3,349190600,BIELSKO-BIAŁA,2022,4,21.4,NaN,10.9,NaN,-3.1,NaN,...,0,9.0,0,9.0,0,9.0,0,9.0,0,9.0
4,349190600,BIELSKO-BIAŁA,2022,5,26.5,NaN,19.8,NaN,3.3,NaN,...,0,9.0,0,9.0,0,9.0,0,9.0,0,9.0

FORMAT: s_m_t_rok:
* Kod stacji                                            9
* Nazwa stacji                                         30
* Rok                                                   4
* Miesiąc                                               2
* Średnie miesięczne zachmurzenie ogólne [oktanty]      6/1
* Status pomiaru NOS                                    1
* Średnia miesięczna prędkość wiatru [m/s]              6/1
* Status pomiaru FWS                                    1
* Średnia miesięczna temperatura [°C]                   5/1
* Status pomiaru TEMP                                   1
* Średnie miesięczne ciśnienie pary wodnej [hPa]        5/1
* Status pomiaru CPW                                    1
* Średnia miesięczna wilgotność względna [%]            8/1
* Status pomiaru WLGS                                   1
* Średnie miesięczne ciśnienie na poziomie stacji [hPa] 7/1
* Status pomiaru PPPS                                   1
* Średnie miesięczne ciśnienie na pozimie morza [hPa]   7/1
* Status pomiaru PPPM                                   1
* Suma opadu dzień [mm]                                 8/1
* Status pomiaru WODZ                                   1
* Suma opadu noc   [mm]                                 8/1
* Status pomiaru WONO                                   1


Status "8" brak pomiaru </br>
Status "9" brak zjawiska </br>

In [14]:
synoptic_smt_columns = find_columns_names('dane\meteorologiczne\synop\s_m_t_format.txt')
print(synoptic_smt_columns)

['Kod stacji', 'Nazwa stacji', 'Rok', 'Miesiąc', 'Średnie miesięczne zachmurzenie ogólne [oktanty]', 'Status pomiaru NOS', 'Średnia miesięczna prędkość wiatru [m/s]', 'Status pomiaru FWS', 'Średnia miesięczna temperatura [°C]', 'Status pomiaru TEMP', 'Średnie miesięczne ciśnienie pary wodnej [hPa]', 'Status pomiaru CPW', 'Średnia miesięczna wilgotność względna [%]', 'Status pomiaru WLGS', 'Średnie miesięczne ciśnienie na poziomie stacji [hPa]', 'Status pomiaru PPPS', 'Średnie miesięczne ciśnienie na pozimie morza [hPa]', 'Status pomiaru PPPM', 'Suma opadu dzień [mm]', 'Status pomiaru WODZ', 'Suma opadu noc', 'Status pomiaru WONO']

In [15]:
synoptic_smt = pd.DataFrame()
for year in years:
    relative_path = f"dane\meteorologiczne\synop\s_m_t_{year}.csv"
    synoptic_smt_year = pd.read_csv(relative_path, header=None, encoding=g_encoding)
    synoptic_smt = pd.concat([synoptic_smt, synoptic_smt_year])
synoptic_smt.columns = synoptic_smt_columns
synoptic_smt.head()

,Kod stacji,Nazwa stacji,Rok,Miesiąc,Średnie miesięczne zachmurzenie ogólne [oktanty],Status pomiaru NOS,Średnia miesięczna prędkość wiatru [m/s],Status pomiaru FWS,Średnia miesięczna temperatura [°C],Status pomiaru TEMP,...,Średnia miesięczna wilgotność względna [%],Status pomiaru WLGS,Średnie miesięczne ciśnienie na poziomie stacji [hPa],Status pomiaru PPPS,Średnie miesięczne ciśnienie na pozimie morza [hPa],Status pomiaru PPPM,Suma opadu dzień [mm],Status pomiaru WODZ,Suma opadu noc,Status pomiaru WONO
0,349190600,BIELSKO-BIAŁA,2022,1,0.0,8.0,4.7,NaN,0.6,NaN,...,80.8,NaN,971.9,NaN,1021.7,NaN,24.5,NaN,21.9,NaN
1,349190600,BIELSKO-BIAŁA,2022,2,0.0,8.0,5.6,NaN,3.4,NaN,...,71.5,NaN,968.3,NaN,1017.4,NaN,22.2,NaN,15.3,NaN
2,349190600,BIELSKO-BIAŁA,2022,3,0.0,8.0,2.9,NaN,3.4,NaN,...,59.4,NaN,978.0,NaN,1027.5,NaN,5.2,NaN,15.6,NaN
3,349190600,BIELSKO-BIAŁA,2022,4,0.0,8.0,3.5,NaN,6.6,NaN,...,68.5,NaN,966.0,NaN,1014.4,NaN,33.1,NaN,26.2,NaN
4,349190600,BIELSKO-BIAŁA,2022,5,0.0,8.0,2.8,NaN,14.4,NaN,...,62.8,NaN,971.1,NaN,1018.4,NaN,30.3,NaN,14.5,NaN

#### Dane hydrologiczne

Pliki ze średnimi i ekstremami miesięcznymi zawierają w kolejnych polach następujące informacje:

* Kod stacji
* Nazwa stacji
* Nazwa rzeki/jeziora
* Rok hydrologiczny
* Wskaźnik miesiąca w roku hydrologicznym
* Wskaźnik ekstremum
* Stan wody [cm]
* Przepływ [m^3/s]
* Temperatura wody [st. C]
* Miesiąc kalendarzowy


Wskaźnik ekstremum może przyjmować następujące wartości:
1 - minimum,
2 - wartość średnia,
3 - maksimum.



Stan wody 9999 oznacza brak danych w bazie lub przerwy w obserwacjach w danym miesiącu i stąd brak możliwości obliczenia charakterystyk.
Przepływ 99999.999 oznacza brak danych lub przerwy w obserwacjach w danym miesiącu i stąd brak możliwości obliczenia charakterystyk.
Temperatura wody 99.9 oznacza brak danych lub przerwy w obserwacjach w danym miesiącu i stąd brak możliwości obliczenia charakterystyk.

In [16]:
hydrological_columns = find_columns_names('dane\hydrologiczne\mies_info.txt', end_character='\n')
print(hydrological_columns)

['Kod stacji', 'Nazwa stacji', 'Nazwa rzeki/jeziora', 'Rok hydrologiczny', 'Wskaźnik miesiąca w roku hydrologicznym', 'Wskaźnik ekstremum', 'Stan wody [cm]', 'Przepływ [m^3/s]', 'Temperatura wody [st. C]', 'Miesiąc kalendarzowy']

In [17]:
hydrological_data_all = pd.DataFrame()
years = [2022]
for year in years:
    relative_path = f"dane\hydrologiczne\mies_{year}.csv"
    hydrological_year = pd.read_csv(relative_path, header=None, encoding=g_encoding)
    hydrological_data_all = pd.concat([hydrological_data_all, hydrological_year])
hydrological_data_all.columns = hydrological_columns
hydrological_data_all.head()

,Kod stacji,Nazwa stacji,Nazwa rzeki/jeziora,Rok hydrologiczny,Wskaźnik miesiąca w roku hydrologicznym,Wskaźnik ekstremum,Stan wody [cm],Przepływ [m^3/s],Temperatura wody [st. C],Miesiąc kalendarzowy
0,149180020,CHAŁUPKI,Odra (1),2022,1,1,71,8.38,99.9,11
1,149180020,CHAŁUPKI,Odra (1),2022,1,2,83,11.90,99.9,11
2,149180020,CHAŁUPKI,Odra (1),2022,1,3,110,22.40,99.9,11
3,149180020,CHAŁUPKI,Odra (1),2022,2,1,85,12.40,99.9,12
4,149180020,CHAŁUPKI,Odra (1),2022,2,2,102,18.90,99.9,12

# Selekcja danych

### Wyselekcjonowane dane:

* Średnia temperatura maksymalna [°C]
* Średnia temperatura minimalna  [°C]
* Minimalna temperatura przy gruncie
* Miesieczna suma opadów
* Liczba dni z opadem deszczu
---------------------------------
* Średnia miesięczna wilgotność względna [%]
---------------------------------
* Opad maksymalny [mm] / Maksymalna dobowa suma opadów [mm]
---------------------------------
* Miesięczna suma usłonecznienia  [godziny]
---------------------------------
* Stan wody [cm]
* Przepływ [m^3/s]
* Temperatura wody [st. C]

In [18]:
selected_climate_data_1 = ['Kod stacji', 'Nazwa stacji', 'Rok', 'Miesiąc', 'Średnia temperatura maksymalna [°C]', 'Średnia temperatura minimalna','Minimalna temperatura przy gruncie [°C]', 'Miesieczna suma opadów', 'Liczba dni z opadem deszczu']
climate_data_1 = climate_kmd[selected_climate_data_1]
climate_data_1.head()

,Kod stacji,Nazwa stacji,Rok,Miesiąc,Średnia temperatura maksymalna [°C],Średnia temperatura minimalna,Minimalna temperatura przy gruncie [°C],Miesieczna suma opadów,Liczba dni z opadem deszczu
0,249180010,PSZCZYNA,2022,1,3.7,-2.4,-19.0,48.6,7
1,249180010,PSZCZYNA,2022,2,7.5,-0.1,-8.0,43.8,13
2,249180010,PSZCZYNA,2022,3,9.7,-1.7,-8.3,30.1,8
3,249180010,PSZCZYNA,2022,4,11.4,1.9,-5.9,45.8,11
4,249180010,PSZCZYNA,2022,5,20.7,8.0,-0.5,38.6,12

In [19]:
selected_climate_data_2 = ['Kod stacji', 'Nazwa stacji', 'Rok', 'Miesiąc', 'Średnia miesięczna wilgotność względna [%]']
climate_data_2 = climate_kmt[selected_climate_data_2]
climate_data_2.head()

,Kod stacji,Nazwa stacji,Rok,Miesiąc,Średnia miesięczna wilgotność względna [%]
0,249180010,PSZCZYNA,2022,1,0.0
1,249180010,PSZCZYNA,2022,2,0.0
2,249180010,PSZCZYNA,2022,3,0.0
3,249180010,PSZCZYNA,2022,4,0.0
4,249180010,PSZCZYNA,2022,5,0.0

In [20]:
selected_fall_data = ['Kod stacji', 'Nazwa stacji', 'Rok', 'Miesiąc', 'Opad maksymalny [mm]']
fall_data = fall_om[selected_fall_data]
fall_data.head()

   Kod stacji Nazwa stacji   Rok  Miesiąc  Opad maksymalny [mm]
0   249180020   WARSZOWICE  2022        1                   8.2
1   249180020   WARSZOWICE  2022        2                   7.0
2   249180020   WARSZOWICE  2022        3                  12.0
3   249180020   WARSZOWICE  2022        4                  11.4
4   249180020   WARSZOWICE  2022        5                  12.8

In [21]:
selected_synoptic_data_1 = ['Kod stacji', 'Nazwa stacji', 'Rok', 'Miesiąc', 'Miesięczna suma usłonecznienia']
synoptic_data_1 = synoptic_smd[selected_synoptic_data_1]
synoptic_data_1.head()

   Kod stacji   Nazwa stacji   Rok  Miesiąc  Miesięczna suma usłonecznienia
0   349190600  BIELSKO-BIAŁA  2022        1                            62.3
1   349190600  BIELSKO-BIAŁA  2022        2                            95.2
2   349190600  BIELSKO-BIAŁA  2022        3                           236.9
3   349190600  BIELSKO-BIAŁA  2022        4                           154.0
4   349190600  BIELSKO-BIAŁA  2022        5                           239.0

In [22]:
selected_synoptic_data_2 = ['Kod stacji', 'Nazwa stacji', 'Rok', 'Miesiąc', 'Średnia temperatura maksymalna [°C]',
                            'Średnia temperatura minimalna [°C]', 'Minimalna temperatura przy gruncie [°C]',
                            'Miesięczna suma opadów [mm]', 'Miesięczna suma usłonecznienia', 'Liczba dni z opadem deszczu']
synoptic_data_2 = synoptic_smd[selected_synoptic_data_2]
synoptic_data_2.head()

,Kod stacji,Nazwa stacji,Rok,Miesiąc,Średnia temperatura maksymalna [°C],Średnia temperatura minimalna [°C],Minimalna temperatura przy gruncie [°C],Miesięczna suma opadów [mm],Miesięczna suma usłonecznienia,Liczba dni z opadem deszczu
0,349190600,BIELSKO-BIAŁA,2022,1,3.2,-2.3,-17.5,46.4,62.3,6
1,349190600,BIELSKO-BIAŁA,2022,2,6.6,0.3,-7.7,37.5,95.2,4
2,349190600,BIELSKO-BIAŁA,2022,3,8.8,-1.9,-10.5,20.8,236.9,5
3,349190600,BIELSKO-BIAŁA,2022,4,10.9,2.2,-4.9,59.3,154.0,10
4,349190600,BIELSKO-BIAŁA,2022,5,19.8,8.8,1.6,44.8,239.0,14

In [23]:
selected_hydrological_data = ['Kod stacji', 'Nazwa stacji', 'Stan wody [cm]', 'Przepływ [m^3/s]', 'Temperatura wody [st. C]']
hydrological_data = hydrological_data_all[selected_hydrological_data]
hydrological_data.head()

,Kod stacji,Nazwa stacji,Stan wody [cm],Przepływ [m^3/s],Temperatura wody [st. C]
0,149180020,CHAŁUPKI,71,8.38,99.9
1,149180020,CHAŁUPKI,83,11.90,99.9
2,149180020,CHAŁUPKI,110,22.40,99.9
3,149180020,CHAŁUPKI,85,12.40,99.9
4,149180020,CHAŁUPKI,102,18.90,99.9

#### Część wspólna dla wyselekcjonowanych danych

In [24]:
param_to_compare = 'Nazwa stacji'
print(len(set(climate_data_1[param_to_compare]) & set(climate_data_2[param_to_compare])))
print(len(set(climate_data_1[param_to_compare]) & set(fall_data[param_to_compare])))
print(len(set(climate_data_1[param_to_compare]) & set(synoptic_data_1[param_to_compare])))
print(len(set(climate_data_1[param_to_compare]) & set(synoptic_data_2[param_to_compare])))
print(len(set(climate_data_1[param_to_compare]) & set(hydrological_data[param_to_compare])))
print(len(set(synoptic_data_2[param_to_compare]) & set(hydrological_data[param_to_compare])))

58
6
1
1
14
14

## Tworzenie zbiorów danych

In [25]:
month_range = (5, 8) # maj - sierpień

### Zbiór nr 1

In [26]:
dataset_1 = synoptic_data_2
dataset_1.head()

,Kod stacji,Nazwa stacji,Rok,Miesiąc,Średnia temperatura maksymalna [°C],Średnia temperatura minimalna [°C],Minimalna temperatura przy gruncie [°C],Miesięczna suma opadów [mm],Miesięczna suma usłonecznienia,Liczba dni z opadem deszczu
0,349190600,BIELSKO-BIAŁA,2022,1,3.2,-2.3,-17.5,46.4,62.3,6
1,349190600,BIELSKO-BIAŁA,2022,2,6.6,0.3,-7.7,37.5,95.2,4
2,349190600,BIELSKO-BIAŁA,2022,3,8.8,-1.9,-10.5,20.8,236.9,5
3,349190600,BIELSKO-BIAŁA,2022,4,10.9,2.2,-4.9,59.3,154.0,10
4,349190600,BIELSKO-BIAŁA,2022,5,19.8,8.8,1.6,44.8,239.0,14

In [27]:
dataset_1 = dataset_1[dataset_1['Miesiąc'].between(month_range[0], month_range[1])]
dataset_1.describe()

,Kod stacji,Rok,Miesiąc,Średnia temperatura maksymalna [°C],Średnia temperatura minimalna [°C],Minimalna temperatura przy gruncie [°C],Miesięczna suma opadów [mm],Miesięczna suma usłonecznienia,Liczba dni z opadem deszczu
count,4.640000e+02,464.00000,464.000000,464.000000,464.000000,464.000000,464.000000,464.000000,464.000000
mean,3.517026e+08,2022.50000,6.500000,22.728017,11.703879,3.420474,67.857328,233.609914,12.241379
std,1.669694e+06,0.50054,1.119241,4.070824,3.431726,4.268883,43.466132,93.851534,4.091018
min,3.491906e+08,2022.00000,5.000000,0.000000,0.000000,-6.400000,4.300000,0.000000,2.000000
25%,3.501906e+08,2022.00000,5.750000,20.075000,8.500000,-0.025000,38.875000,220.800000,9.750000
50%,3.512155e+08,2022.50000,6.500000,24.000000,12.700000,4.250000,58.750000,260.500000,12.000000
75%,3.531802e+08,2023.00000,7.250000,25.800000,14.400000,6.900000,87.375000,288.900000,15.000000
max,3.542202e+08,2023.00000,8.000000,28.100000,17.200000,12.200000,273.000000,379.000000,23.000000

In [28]:
column_names_to_mean = dataset_1.columns[4:]
dataset1 = dataset_1.groupby(['Kod stacji', 'Nazwa stacji', 'Rok'])[column_names_to_mean].mean()
dataset1.head()

                                 Średnia temperatura maksymalna [°C]  \
Kod stacji Nazwa stacji    Rok
349190600  BIELSKO-BIAŁA   2022                               23.325
                           2023                               22.325
349190625  ZAKOPANE        2022                               21.150
                           2023                               20.300
349190650  KASPROWY WIERCH 2022                               12.150

                                 Średnia temperatura minimalna [°C]  \
Kod stacji Nazwa stacji    Rok
349190600  BIELSKO-BIAŁA   2022                              12.675
                           2023                              12.300
349190625  ZAKOPANE        2022                               9.975
                           2023                               9.550
349190650  KASPROWY WIERCH 2022                               5.625

                                 Minimalna temperatura przy gruncie [°C]  \
Kod stacji Nazwa stacji    Rok
349190600  BIELSKO-BIAŁA   2022                                     5.85
                           2023                                     3.75
349190625  ZAKOPANE        2022                                     3.50
                           2023                                     1.35
349190650  KASPROWY WIERCH 2022                                     0.00

                                 Miesięczna suma opadów [mm]  \
Kod stacji Nazwa stacji    Rok
349190600  BIELSKO-BIAŁA   2022                       98.850
                           2023                      101.625
349190625  ZAKOPANE        2022                      113.500
                           2023                      155.600
349190650  KASPROWY WIERCH 2022                      131.925

                                 Miesięczna suma usłonecznienia  \
Kod stacji Nazwa stacji    Rok
349190600  BIELSKO-BIAŁA   2022                         249.075
                           2023                         237.425
349190625  ZAKOPANE        2022                         214.575
                           2023                         208.450
349190650  KASPROWY WIERCH 2022                         182.825

                                 Liczba dni z opadem deszczu
Kod stacji Nazwa stacji    Rok
349190600  BIELSKO-BIAŁA   2022                        13.50
                           2023                        13.50
349190625  ZAKOPANE        2022                        14.75
                           2023                        15.25
349190650  KASPROWY WIERCH 2022                        15.00

In [29]:
dataset1.reset_index().to_csv('dataset1.csv', encoding='utf-8-sig')

In [30]:
dataset1.isnull().values.any()

False

### Zbiór nr 2